.Project {
  font-size: 1.2rem;
  width: 25rem;
  background: #afadad;
  border-radius: 10px;
  text-align: center;
}
.Project h1{
  padding: 1rem;
  margin: 0;
  width: 100%;
  height: 100%;
}

.Projects {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: min-content;
  grid-auto-flow: column;
}

.Project p {
  margin: 0;
  margin-bottom: 1rem;
}

.Project p:last-child {
  margin-bottom: 0;
}

.FormDate input {
  width: 50px;
  font-size: 1rem;
  padding-left: 0.5rem;

}