@import "../../../../../../less/Mixins";

.Comments{
display: flex;
  flex-direction: column;
  &__text{

    border-radius: 1rem;
    word-break: break-all;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 0.5rem;
  }

  &__ReplyBlock{
    border-radius: 2px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
  &__ReplyBlock button{
    color: black;
    border-radius: 1rem;
    border: none;
    grid-column: 2/3;
    justify-self: end;
    padding: 0.4rem;
    margin-right: 1rem;
    background: deepskyblue;
    font-size: 1.2rem;
    font-weight: 700
  }
  &__ReplyBlock input{
    grid-column: 1/-1;
    margin-bottom:  1rem;
    margin-right: 0;
    width: 100%;
  }
  &__text{
    border-radius: 0;
    grid-column: 1/-1;
    word-break: break-all;
    border-bottom: 1px solid deepskyblue;
  }



}




