@import "Vars";
.animated(@animation){
  animation: @animation 1s ease;
  backface-visibility: hidden;
}
.animatedTiming(@timing){
  animation-delay: @timing;
  animation-fill-mode: backwards;
}
.title() {
  font-size: 5rem;
  text-align: center;
  font-family: Karla, sans-serif;
  margin: 0;
  color: @Header-titleColor;
}

.flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button() {
  background: @Button-backgroundColor;
  border-radius: 8px;
  height: 4rem;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 2rem;
}
.select(){
  border-radius: 0.5rem;
  background: #262626;
  font-size: 1.5rem;
  outline: none;
  border: none;
  color: white;
  min-height: 4rem;
  padding-left: 1rem;
}
.goldButton(){
  transition: all .15s;
  color: black;
  border: none;
  background: rgb(255, 215, 0);
  border-radius: 1rem;
  justify-self: start;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  padding: 0.5rem;
  &:hover{
    transform: scale(1.1);
  }
}
.replyButton() {
  border: none;
  color: #b9b8b8;
  background: none;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    color: cornflowerblue;
  }
}
.todos() {
  background: #262626;
  border: 1px solid #494848;
  border-radius: 8px;
  flex: 1;
  min-height: 3rem;
  color: white;
  font-size: 1.5rem;
}