@main-backgroundColor:#1A1A1A;
@Header-backgroundColor:#0D0D0D;
@Div-backgroundColor:#313131;
@Header-titleColor:rgb(94, 96, 206);
@UrgentImportantColor:red;
@NotUrgentImportantColor:orange;
@UrgentNotImportantColor:green;
@NotUrgentNotImportantColor:blue;
@Button-backgroundColor: #8e81f1;
@Button-hoverBackgroundColor: #534a88;

