@import "../../../less/Mixins";

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.TodoPage__title {
  .title()
}

.TodoPage__todoCreator {
  height: 100%;
  .flex();
  flex-direction: column;
  padding: 1rem;
}

.TodoPage__todoCreator > button:first-child {
  margin-bottom: 1rem;
}

.TodoPage__todoCreator > button {
  width: 100%;
}

svg {
  width: 40px;
  height: 40px;
  cursor: pointer;

}

.infoSvg {
  position: absolute;
  top: 1rem;
  right: 1rem;
  fill: whitesmoke;
}

p {
  word-break: break-all
}

.Project {
  position: relative;
  word-break: break-all;
}

input {
  .todos();
  padding-left: 1.5rem;
  margin-right: 2rem;
}

input:focus,
input:active {
  outline: none;
}

.TodoPage {
  border-radius: 1rem;
  max-width: 1200px;
  margin: 1rem auto;
}

.TodoPage__button {
  transition: all 0.5s;
  .button();
  flex: 1;
}

.TodoPage__button:hover {
  background: @Button-hoverBackgroundColor;
  transform: scale(1.05);
}

.activeItem {
  background: mediumpurple !important;
}

.BackArrow {
  position: absolute;
  top: 15%;
  left: 5%;
  fill: whitesmoke;
}

.BackArrow:hover {
  transform: scale(1.1);
}

.todo {
  position: relative;
  word-break: break-all;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  color: white;
  .todos();
  margin-bottom: 1rem;
}

.todo__delete {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);

}


.info__info {
  position: relative;
  margin: 1rem;
  padding: 0 1rem;
  min-height: 18rem;
  background: #444343;
  border-radius: 1rem;
}

.InfoForm input {
  margin-bottom: 1rem;
}

.InfoForm {
  display: flex;
  flex-direction: column;
}

.InfoForm p {
  margin: 0;
}

.InfoForm select {
  margin-bottom: 1rem;
  .select()
}

.InfoForm button {
  .button();
  margin-bottom: 1rem;
  transition-duration: .5s;
}

.InfoForm button:hover {
  background: @Button-hoverBackgroundColor;
  transform: scale(1.1);
}

.InfoForm button:disabled {
  background: gray;
}

.InfoForm button:disabled:hover {
  transform: scale(1);
}

.info__info h2 {
  text-align: center;
}

.todo__delete svg {
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.2s;
}

.todo__delete svg:hover {
  transform: scale(1.3);
}

.TodoPage__AboutTodo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  margin-top: 1rem;
  overflow: hidden;
}
.info__comments{
  grid-column: 1/-1;
}

.TodoPage__AboutTodo > div {

  .animated(divCreated);
  background: @Div-backgroundColor;
  border-radius: 1rem;
  margin: 0;
  padding: 1rem;
}

.TodoPage__AboutTodo input,
.TodoPage__AboutTodo button {
  .animated(created)
}

.TodoPage__AboutTodo > div:nth-child(2) {
  .animatedTiming(0.2s)
}

.TodoPage__AboutTodo > div:nth-child(3) {
  .animatedTiming(0.4s)
}

.TodoPage__AboutTodo > div h3 {
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}


@keyframes divCreated {
  0% {
    transform: translateY(100rem);
  }
  100% {
    transform: translateY(0);
  }
}


.info__dragDrop {
  background: @Div-backgroundColor;
  border-radius: 1rem;
  color: white;
  margin: 0 1rem;
}

.info__create {
  grid-column: 1/2;
}

.info__extraTodo {
  grid-column: 2/5;
  grid-row: 2/3;
}


.info__dragDrop {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-column: 2/5;
  grid-row: 1/-1;
  padding: 1rem;
  gap: 1rem;
}

.AboutTodo__extra {
  display: flex;
  flex-direction: column;
}

@keyframes created {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.AboutTodo__extra p {
  width: 100%;
}

.extra__createTask {
  display: flex;
  flex-direction: column;
}
.comments__wrapper{
  border-radius: 2px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
.comments__wrapper>input{
  border-radius: 0;
  grid-column: 1/-1;
  width: 100%;
  border: none;
  border-bottom: 2px solid white;
  margin: 0;
  margin-bottom: 0.5rem;
}
.comments__wrapper>button{
  border-radius: 1rem;
  grid-row: 2/3;
  grid-column: 2/3;
  border: none;
  justify-self: end;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 50;
  padding: 0.5rem;
}
.comments__wrapper>button:disabled{
  color: #e0e0e0;
}
.extra__createTask input {
  margin-right: 0.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.extra__createTask button {
  .button();
  font-size: 1rem;
  transition-duration: 0.5s;
  height: 2rem;
}

.extra__createTask button:hover {
  transform: scale(1.15);
  background: @Button-hoverBackgroundColor
}

.extra__createTask button:disabled {
  background: gray;
}

.extra__createTask button:disabled:hover {
  transform: scale(1);
}

.info__dragDrop .Board:first-child {

  padding: 1rem;
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.1);
  border-radius: 1rem;
}

.info__dragDrop .Board:nth-child(2) {
  border: 1px solid blue;
  background: rgba(0, 0, 255, 0.1);
  padding: 1rem;
  border-radius: 1rem;
}

.info__dragDrop .Board:nth-child(3) {
  border: 1px solid green;
  background: rgba(0, 255, 0, 0.1);
  padding: 1rem;
  border-radius: 1rem;
}

.info__dragDrop > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.info__dragDrop > div > div {
  margin-top: 1rem;
}

.info__dragDrop > div > div:first-child {
  font-size: 1.5rem;
  margin-top: 0;
}

.colHeader {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
  margin-bottom: 1rem;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  word-break: break-all;
  min-height: content-box;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: black;
  text-align: center;
  cursor: grab;
  font-size: 1.5rem;
  font-weight: 700;
}
.itemSvg{
  position: absolute;
  right: 1rem;
  fill: black;
}
.itemSvg:hover{
  transform: scale(1.1);
}
.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 50vh
}

.TodoPage__modal {
  text-align: center;
}

.TodoPage__modal input:first-child {
  margin-right: 1rem;
}

.TodoPage__modal input {
  width: 100%;

}

.FormDate h5 {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem

}

.FormDate > input {
  width: 5rem;
  margin-right: 1rem !important;
  padding: 0;
  text-align: center;
}

.FormDate > input:last-child {
  margin-right: 0 !important;
}

.TodoPage__modal select {
  .select();
  width: 100%;
}

.TodoPage__modal input {
  margin-right: 0;
  margin-bottom: 1rem;
}

.TodoPage__modal button {
  .button();
  transition: all 0.5s;
}

.TodoPage__modal button:hover {
  transform: scale(1.1);
  background: @Button-hoverBackgroundColor
}

.TodoPage__modal button:disabled {
  background: gray;
}

.TodoPage__modal button:disabled:hover {
  transform: scale(1);
}

.TodoPage__createTodo {
  position: relative;
  margin-bottom: 1rem;
  text-align: center;
}

.fileUploader__fileName {
  text-align: center;
  margin-top: 1rem;
}

.TodoPage__filterTodo {
  margin: 1rem;
  display: flex;

}

.TodoPage__filterTodo input:last-child {
  margin-right: 0;
}

@media screen and (max-width: 794px) {
  .TodoPage__filterTodo input:first-child {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .TodoPage__filterTodo {
    flex-direction: column;
  }

  input {
    font-size: 1.2rem
  }

  .info__comments p {
    font-size: 0.9rem;
  }

  .Board div {
    font-size: 0.9rem;
  }

  .extra__createTask button {
    .button();
    font-size: 0.9rem;
    transition-duration: 0.5s;
    height: 2rem;
  }

  h3 {
    font-size: 1rem !important;
  }

  svg {
    width: 30px;
  }

  .TodoPage__AboutTodo {
    grid-template-columns: 1fr;
  }

  .info__dragDrop {
    grid-template-columns: 1fr

  }
}

